<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/intro">{{title}}</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li>
        <a class="nav-link" routerLink="/alunos">Alunos</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/cursos">Cursos</a>
      </li>
      <li>
        <a class="nav-link" routerLink="/turmas">Turmas</a>
      </li>
    </ul>
  </div>
</nav>
<main role="main" class="container starter-template">
  <router-outlet></router-outlet>
</main>